@import '_color';
@import '_mixins';


body, html {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Fira Sans'
}

#Design {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  &>.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &>.card {
      height: 64%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 71%;
      background-color: white;
      opacity: 0.99;
      border-radius: 16px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      &>.card-content {
        z-index: 3;
        font-family: 'Fira Sans';
        &>h1 {
          position: relative;
          font-size: 120px;
          margin: 0;
          color: #4F6073;
          font-weight: 700;
          &>span.logo {
            position: absolute;
            font-size: 4em;
            top: 0;
            left: -0.4em;
            line-height: 0.4em;
            z-index: 1;
            opacity: 0.1;
          }
          &>span.motto {
            position: absolute;
            bottom: 0;
            right: -1.2em;
            font-size: 0.12em
          }
          @include lg {
            font-size: 80px;
          }
          @include md {
            font-size: 60px;
          }
          @include sm {
            font-size: 40px;
          }
        }
      }
    }
  }
  &>canvas {
    position: absolute;
    width: 100%;
    display: flex;
    margin: 0;
  }
  &>#background {
    z-index: -10;
    // animation: fill 1s ease-in-out;    
  }
  &>#tubes {
    z-index: -9;
    animation: fill 1s ease-in-out;    
  }
  &>#tubes-overlay {
    z-index: -8;    
  }
  &>#overlay {
    z-index: 5;   
  }
  &>#solo-tube {
    z-index: 6;  
    animation: reverse-fill 1s ease-in-out;  
  }
}



@keyframes fill {
	0% { transform: translate(70%,-65%); }
	100% { transform: translate(0,0)  }
}

@keyframes reverse-fill {
	0% { transform: translate(-50%,45%); }
	100% { transform: translate(0,0)  }
}


#project {
  background-color: #EEF5FF;
  z-index: 10;
  position: relative;
  width: 100%;
  height: 100vh;
  &>svg {
    z-index: -10;
    position: absolute;
    width: 100%;
  }
  &>div {
    display: flex;
    padding-left: 20%;
    padding-top: 20%;
    flex-direction: column;
    max-width: 60%;
    &>p {
      max-width: 100%;
      color: #4F6073;
      font-size: 14px;
      margin: 0;
      font-family: sans-serif;
      line-height: 1.5;
    }
    &>h2 {
      position: relative;
      padding-bottom: 30px;
      font-size: 32px;
      margin: 0;
      color: #4F6073;
      font-weight: 700;
    }
  }
}

      
      
      
      /* Vector */
      
